
<header class="mui-bar mui-bar-nav tui-bar-nav">
    <h1 class="mui-title">选择银行</h1>
    <button class=" mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</button>
</header>
<div  class="mui-indexed-list">
    <div  class="mui-indexed-list-inner">
        <ul class="mui-table-view tui-bank-list">
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item " data-value="1"  data-text="中国工商银行" >
                <p class="bank-logo bank-icbc">中国工商银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item " data-value="2"  data-text="中国农业银行" >
                <p class="bank-logo bank-abc">中国农业银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="3"  data-text="中国银行" >
                <p class="bank-logo bank-boc ">中国银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="3"  data-text="建设银行" >
                <p class="bank-logo bank-ccb ">建设银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="4"  data-text="民生银行" >
                <p class="bank-logo bank-cmbc ">民生银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="5"  data-text="招商银行" >
                <p class="bank-logo bank-cmb ">招商银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="6"  data-text="交通银行" >
                <p class=" bank-logo bank-bcom">交通银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="7"  data-text="兴业银行" >
                <p class="bank-logo bank-cib ">兴业银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="8"  data-text="光大银行" >
                <p class=" bank-logo bank-ceb">光大银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="9"  data-text="华夏银行" >
                <p class=" bank-logo bank-hxb">华夏银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="10"  data-text="平安银行" >
                <p class="bank-logo bank-pab ">平安银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="11"  data-text="浦发银行" >
                <p class="bank-logo bank-spdb ">浦发银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="12"  data-text="北京银行" >
                <p class="bank-logo bank-bob">北京银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="13"  data-text="中国邮政储蓄银行" >
                <p class="bank-logo bank-post ">中国邮政储蓄银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="14"  data-text="上海银行" >
                <p class=" bank-logo bank-shb">上海银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="14"  data-text="厦门银行" >
                <p class="bank-logo bank-boxm ">厦门银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="14"  data-text="恒丰银行" >
                <p class="bank-logo bank-egb ">恒丰银行</p>
            </li>
            <li class="mui-table-view-cell tui-filter-item mui-indexed-list-item" data-value="14"  data-text="中信银行" >
                <p class="bank-logo bank-citic ">中信银行</p>
            </li>
        </ul>
    </div>
</div>
