<div class="tui-content" >
    <header class="mui-bar mui-bar-nav tui-bar-nav" ng-init="getList(1)">
        <h1 class="mui-title">我的车源</h1>
        <a class="mui-pull-right mui-btn mui-btn-blue mui-btn-link" ui-sref="carissue">发布车源</a>
    </header>
    <div class="tui-slider-indicator tui-segmented-control tui-segmented-control-inverted">
        <a class="tui-control-item active" ui-sref="cargather">
            进行中
        </a>
        <a class="tui-control-item" ui-sref="cargatherecord">
            历史记录
        </a>
    </div>
    <ul class="tui-order" >
        <li class="tui-order-item" ng-repeat="obj in list" >
            <section class="tui-order-header">
                <span class="mui-pull-left">发布时间:<i ng-bind="obj.PublishTime|DateTimeFormat:'yyyy年MM月dd日'"></i></span>
                <span class="mui-pull-right">
                    <span class="tui-font-green" ng-if="obj.CarFlag!=0" ng-bind="obj.CarFlag|CarStatus"></span>
                    <span class="tui-font-green" ng-if="obj.CarFlag==0" ng-bind="obj.CheckFlag|CarCheck"></span>
                </span>
            </section>
            <section class="tui-order-info" >
                <div class="tui-order-icon" data-car="{{obj.CarNo}}" ng-switch="obj.AppraiserFlag">
                     <img ng-src="{{obj.HomePicID||cover}}" ng-if="obj.CarFlag!=254" ui-sref="carinfo({CarNo:obj.CarNo})">
                     <img ng-src="{{obj.HomePicID||cover}}" ng-if="obj.CarFlag==254">
                     <span class="tui-ctxrenzhen-3" ng-switch-when="3"></span>
                     <span class="tui-ctxrenzhen-2" ng-switch-when="2"></span>
                     <span class="tui-ctxrenzhen-1" ng-switch-when="1"></span>
                </div>
                <section class="tui-order-descr">
                    <h5 class="tui-car-name mui-ellipsis-2" ><i ng-bind="obj.SpecName"></i></h5>
                    <p class="tui-car-deploy"><i ng-bind="obj.Buyyear|DateTimeFormat:'yyyy年MM月'" ></i>上牌 <i ng-bind="obj.Mileage"></i>万公里</p>
                    <p class="tui-car-sellprice"><span class="mui-pull-left tui-font-orange"><strong class="tui-car-price" ng-bind="obj.Price/10000|currency:'￥'"></strong>万 </span><!--<span class="mui-pull-right tui-car-newprice" ng-if="obj.WholesalePrice>0">同行价 <i ng-bind="obj.WholesalePrice/10000|currency:'￥'"></i>万</span>--></p>
                </section>
            </section>
            <section class="tui-order-operate">
                <button type="button" class="mui-btn" ng-if="obj.CarFlag!=254" ui-sref="carout({CarNo:obj.CarNo})">下架</button>
                <button type="button" class="mui-btn mui-btn-orange" ui-sref="carissue.edit({CarNo:obj.CarNo})" ng-if="obj.CarFlag==0">编辑</button>
                <button type="button" class="mui-btn tui-btn-orange" ng-if="obj.AppraiserFlag==0 && obj.CarFlag!=254 &&(user.IdentityTag==2 || user.IdentityTag==3)" ng-click="addreport(obj)">填写检测报告</button>
            </section>
        </li>
    </ul>
    <pager></pager>
</div>
