

<!--slider-->
<div id="slider" class="mui-slider">
    <div class="mui-slider-group">
        <div class="mui-slider-item">
            <a href="">
                <img src="../images/index-1.png">
            </a>
        </div>
    </div>
    <div class="mui-slider-indicator mui-text-center">
        <div class="mui-indicator mui-active"></div>
        <div class="mui-indicator "></div>
        <div class="mui-indicator "></div>
        <div class="mui-indicator "></div>
    </div>
</div>
<!-- end slider -->
<div class="tui-about-promise">
    <span class="tui-promise-list">
           <i class="mui-icon mui-icon-checkbox-filled"></i>100%好车
    </span>
      <span class="tui-promise-list">
           <i class="mui-icon mui-icon-checkbox-filled"></i>259项全车检测
    </span>
      <span class="tui-promise-list">
           <i class="mui-icon mui-icon-checkbox-filled"></i>14天可退一年质保
    </span>
</div>


<div class="tui-car-filter-title">快速买车</div>
<ul class="mui-table-view mui-grid-view mui-grid-9 tui-car-filter">
    <li class="mui-table-view-cell mui-col-xs-12 tui-car-filter-caption">
        价格
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">5万以下</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">5-10万</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">10-15万</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">15-20万</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">20-25万</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">25-40万</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">40-60万</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">60万以上</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-12 tui-car-filter-caption">
       品牌
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-dazhong"></span>
            <div class="mui-media-body">大众</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-xiandai"></span>
            <div class="mui-media-body">现代</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-fengtian"></span>
            <div class="mui-media-body">丰田</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-baoma"></span>
            <div class="mui-media-body">宝马</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-bieke"></span>
            <div class="mui-media-body">别克</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-aodi"></span>
            <div class="mui-media-body">奥迪</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-benchi"></span>
            <div class="mui-media-body">奔驰</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-richan"></span>
            <div class="mui-media-body">日产</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-fute"></span>
            <div class="mui-media-body">福特</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-bentian"></span>
            <div class="mui-media-body">本田</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-xuefulan"></span>
            <div class="mui-media-body">雪弗兰</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3">
        <a href="">
            <span class="tui-car-filter-icon tui-car-filter-icon-more "></span>
            <div class="mui-media-body">更多品牌</div>
        </a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-12 tui-car-filter-caption">
       车型
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">小轿车</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">SUV</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">MPV</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-3">
        <a href="#">跑车</a>
    </li>
    <li class="mui-table-view-cell mui-col-xs-12 ">
        <a href="" class="tui-mod-more">查看全部车辆 &gt; </a>
    </li>
</ul>

<h5 class="mui-content-padded">猜你喜欢</h5>
<!--media list-->
<ul class="mui-table-view mui-grid-view">
    <li class="mui-table-view-cell mui-media mui-col-xs-6"  ng-repeat="obj in carlist">
        <a href="#">
            <img class="mui-media-object" ng-src="{{HOST+obj.HomePicID}}">
            <div class="tui-product-title" ng-bind="obj.SpecName"></div>
            <div class="tui-product-meta">
                <i ng-bind="obj.InitialDate|date:'yyyy'"></i>上牌| <i ng-bind="obj.Mileage"></i>万公里
            </div>
            <div class="tui-product-sale">
                <i ng-bind="obj.Price/1000|currency:'￥'"></i>万
            </div>
        </a>
    </li>
</ul>
<!--end media list-->
