<nav class="tui-bar tui-bar-tab" >
    <a ng-class="{true:'tui-tab-item tui-active',false:'tui-tab-item'}[ACTION=='home']" ui-sref="home">
        <span class="iconfont icon-shouyeshouye"></span>
        <p class="tui-tab-label">首页</p>
    </a>
    <a ng-class="{true:'tui-tab-item tui-active',false:'tui-tab-item'}[ACTION=='buy']" ui-sref="carlist">
        <span class="iconfont icon-ershoucheqiugou"></span>
        <p class="tui-tab-label">买车</p>
    </a>
    <a ng-class="{true:'tui-tab-item tui-active',false:'tui-tab-item'}[ACTION=='sell']" ui-sref="sell">
        <span class="iconfont icon-maiche"></span>
        <p class="tui-tab-label">卖车</p>
    </a>
    <a ng-class="{true:'tui-tab-item tui-active',false:'tui-tab-item'}[ACTION=='admin']" ui-sref="admin">
        <span class="iconfont icon-gerenzhongxin"></span>
        <p class="tui-tab-label">我的</p>
    </a>
</nav>