<div class="tui-content">
    <header class="mui-bar mui-bar-nav tui-bar-nav">
        <h1 class="mui-title">撤单申请</h1>
    </header>
    <ul class="tui-order" ng-init="getOrder()">
        <li class="tui-order-item">
            <section class="tui-order-header">
                <span class="mui-pull-left">订单号:<i ng-bind="order.OrderCode"></i>  <!--<i ng-bind="obj.Contact"></i> <i class="mui-icon mui-icon-arrowright" style="font-size: 14px"></i>--></span>
                <span class="mui-pull-right tui-font-green"><span ng-if="order.RevokeFlag==0"  ng-bind="order.OrderFlag|OrderStatus"></span><span ng-if="order.RevokeFlag>0"  ng-bind="order.RevokeFlag|RevokeStatus"></span></span>
            </section>
            <section class="tui-order-info">
                 <div class="tui-order-icon" data-car="{{order.CarNo}}" ng-switch="order.AppraiserFlag">
                     <img ng-src="{{order.HomePicID||cover}}" alt="">
                     <span class="tui-ctxrenzhen-3" ng-switch-when="3"></span>
                     <span class="tui-ctxrenzhen-2" ng-switch-when="2"></span>
                     <span class="tui-ctxrenzhen-1" ng-switch-when="1"></span>
                </div>
                <section class="tui-order-descr">
                    <h5 class="tui-car-name mui-ellipsis-2" ><i ng-bind="order.BrandName+order.SpecName"></i></h5>
                    <p class="tui-car-deploy"><i ng-bind="order.InitialDate|DateTimeFormat:'yyyy年MM月'" ></i>上牌 <i ng-bind="order.Mileage"></i>万公里</p>
                    <p class="tui-car-sellprice"><span class="mui-pull-left  tui-font-orange"><strong class="tui-car-price" ng-bind="order.DealPrice/10000|currency:'￥'"></strong>万 </span><span class="mui-pull-right tui-car-newprice" ng-if="order.NewCarPrice>0">新车价 <strike ><i ng-bind="order.NewCarPrice/10000|currency:'￥'"></i>万</strike></span></p>
                </section>
            </section>
            <section class="tui-order-operate">

            </section>
        </li>
    </ul>
    <div class="tui-order-form">
        <h5 class="tui-order-header">撤单申请</h5>
        <form name="orderForm" class="mui-input-group">
            <div class="mui-input-row" style="min-height: 120px;padding-left: 10px">
                <textarea id="textarea" rows="5" placeholder="输入撤单原因" ng-model="RevokeMemo"></textarea>
            </div>
        </form>

    </div>
</div>
<div class="tui-btngroup-fix">
    <button type="button" class="tui-btn tui-btn-default" ui-sref="orderdetails({OrderCode:order.OrderCode})">查看详情</button>
    <button type="button" class="tui-btn tui-btn-primary" ng-click="backout()">确定</button>
</div>


