<header class="mui-bar mui-bar-nav tui-bar-nav">
    <button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left tui-nav-search-bar">
        <input type="text"  placeholder="" class="tui-nav-search" ng-model="brand" /><i class="mui-icon mui-icon-search"></i>
    </button>
    <button class="mui-btn mui-btn-link mui-btn-nav mui-pull-left tui-nav-search-cancel">
        <a href="" ui-sref="home">取消</a>
    </button>
</header>
<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
    <div class="mui-scroll" >
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" ng-repeat="obj in brandlist">
                    <a href=""><i ng-bind="obj.brandName"></i></a>
                </li>

            </ul>
            <div class="tui-blank"></div>
            <ul class="mui-table-view mui-grid-view mui-grid-9 tui-search-keyword">
                <li class="mui-table-view-cell mui-col-xs-12 tui-car-filter-caption">
                    热销车系
                </li>
                <li class="mui-table-view-cell mui-col-xs-4">
                    <a href="">福克斯</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-4">
                    <a href="">宝来</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-4">
                    <a href="">凯越</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-4">
                    <a href="">朗逸</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-4">
                    <a href="">polo</a>
                </li>
                <li class="mui-table-view-cell mui-col-xs-4">
                    <a href="">高尔夫</a>
                </li>

            </ul>
    </div>
</div>
