<div class="tui-content" >
    <header class="mui-bar mui-bar-nav tui-bar-nav">
        <h1 class="mui-title">卖车订单</h1>
    </header>
    <div class="tui-slider-indicator tui-segmented-control tui-segmented-control-inverted" ng-init="getSellRecordList(1)">
        <a class="tui-control-item" ui-sref="sellorder">
            进行中
        </a>
        <a class="tui-control-item active" ui-sref="sellrecord">
            历史记录
        </a>
    </div>
    <ul class="tui-order" >
        <li class="tui-order-item" ng-repeat="obj in list" >
            <section class="tui-order-header">
                <span class="mui-pull-left">订单号:<i ng-bind="order.obj"></i>  <!--<i ng-bind="obj.Contact"></i> <i class="mui-icon mui-icon-arrowright" style="font-size: 14px"></i>--></span>
                <span class="mui-pull-right"><span class="tui-font-green" ng-if="obj.RevokeFlag==0"  ng-bind="obj.OrderFlag|OrderStatus"></span><span class="tui-font-red" ng-if="obj.RevokeFlag>0"  ng-bind="obj.RevokeFlag|RevokeStatus"></span></span>
            </section>
            <section class="tui-order-info" ui-sref="carinfo({CarNo:obj.CarNo})">
                 <div class="tui-order-icon" data-car="{{obj.CarNo}}" ng-switch="obj.AppraiserFlag">
                     <img ng-src="{{obj.HomePicID||cover}}" alt="">
                     <span class="tui-ctxrenzhen-3" ng-switch-when="3"></span>
                     <span class="tui-ctxrenzhen-2" ng-switch-when="2"></span>
                     <span class="tui-ctxrenzhen-1" ng-switch-when="1"></span>
                </div>
                <section class="tui-order-descr">
                    <h5 class="tui-car-name" ><i ng-bind="obj.BrandName+obj.SpecName"></i></h5>
                    <p class="tui-car-deploy"><i ng-bind="obj.InitialDate|DateTimeFormat:'yyyy年MM月'" ></i>上牌 <i ng-bind="obj.Mileage"></i>万公里</p>
                    <p class="tui-car-sellprice"><span class="mui-pull-left  tui-font-orange"><strong class="tui-car-price" ng-bind="obj.DealPrice/10000|currency:'￥'"></strong>万 </span><span class="mui-pull-right tui-car-newprice" ng-if="obj.NewCarPrice>0">新车价 <strike ><i ng-bind="obj.NewCarPrice/10000|currency:'￥'"></i>万</strike></span></p>
                </section>
            </section>
            <section class="tui-order-operate">
                <button type="button" class="mui-btn tui-btn-orange" ui-sref="orderdetails({OrderCode:obj.OrderCode})">查看详情</button>
            </section>
        </li>
    </ul>
    <pager></pager>
</div>