<link rel="stylesheet" href="css/carinfo.css">
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav">返回</span></a>
	<h1 class="mui-title">车辆信息</h1>
</header>
<div class="mui-content">
	<ul id="list" class="mui-table-view mui-collapse">
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right dui-strong" href="#/viewreport">事故排查</a>
		</li>
	</ul>
	<ul id="list" class="mui-table-view">
		<li class="mui-table-view-cell">
			车体骨架结构无变形、无扭曲、无更换、无烧焊、无褶皱；无火烧痕迹，无水泡痕迹。
		</li>
	</ul>
</div>
