/*
 * @author:dekent
 * @version:1.0.0
 * @date:2015-12-30
 */

/*通用样式*/
.w{width: 100%;}
.h35{height: 35px;}
.fl{ float: left;}
.fr{ float: right;}
/*粗体*/
.dui-strong{ font-weight: bold;}

.dui-mt10{ margin-top: 10px;}
.dui-p5{ padding: 5px;}
.dui-plr10{padding-left: 10px; padding-right: 10px;}

/*浅黑色*/
.dui-grep{color: #333;}
/*橙色*/
.dui-c1{color: #ff6a00;}
/*绿色*/
.dui-green{color:#1f9925;}
/*异常*/
.dui-red{color:#fa6464;}


/*车源详细*/
.dui-carno{ position: absolute; bottom: 5px; left: 10px; color: #fff;}
.dui-brand-w {}
.dui-brand-w h2{ height: 20px; overflow: hidden; padding: 0px; margin: 0px 0px 5px 0px; line-height: 20px; font-size: 20px;}
.dui-brand-w .dui-shoucang{ width:60px; height: 60px; text-align: center; padding-top: 8px; float: right; border-left: 1px solid #dedede;}
.dui-brand-w .mui-table-view-cell:after{
	left: 0px !important;
}

.dui-price{font-size: 18px; line-height: 25px;}
.dui-yes-icon{position: absolute; left: 10px;}
.dui-lh{ line-height: 25px;}
.dui-zhibao{ float: left; background: #fcfcfc;padding: 10px 0px 10px 0px; font-size: 12px ; text-align: center; border-bottom: 1px solid #eee;}

.mui-table-view.dui-carinfo-table .mui-table-view-cell{
	padding: 10px 0px 10px 0px;
	font-size: 12px ;
	background: #fcfcfc;
}

.dui-table{
	margin: 0px;
	padding: 0px;
}
.dui-table-bottom{
	padding: 10px 0px 10px 0px;
    font-size: 12px;
    background: #fcfcfc;
    float: left;
    text-align: center;
    list-style: none;
    border-bottom: 1px solid #eee;
}
.dui-nav-right{
	margin-top: 0px;
	color: #333;
}
.dui-nav-right .dui-icon
{
    font-size: 20px;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: -5px;
}
.dui-nav-right:after
{
    font-size: 30px;
    font-weight: 600;
    right: 15px;
    content: '\e583';
    color: #bbb;
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}



/*检测报告显示*/

