/*
 * @author:吴添祥
 * @version:1.0.0
 * @date:2015-12-18
 */
body{
	background-color: #e5e5e5;
	color: #333;
	font: 14px/1.5 helvetica neue,tahoma,arial,hiragino sans gb,microsoft yahei,sans-serif;
}

.mui-content{
	margin-bottom: 60px;
}
.tui-blank{
	width: auto;
	height: 10px;
	background: transparent;
}
/*********
 * 头部导航
 * *******/
.mui-bar.mui-bar-nav.tui-bar-nav{
	background:#ff6a00;
	color: #fff;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.mui-bar.mui-bar-nav.tui-bar-nav .tui-nav-location{
	color: #fff;
}
/*************
*底部导航
*/
.tui-bar-tab {
	bottom: 0;
	display: table;
	width: 100%;
	height: 50px;
	padding: 0;
	table-layout: fixed;
	border-top: 0;
	border-bottom: 0;
	-webkit-touch-callout: none;
}
.tui-bar {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 0;
	background-color: #f7f7f7;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
	box-shadow: 0 0 1px rgba(0,0,0,.85);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tui-bar-tab .tui-tab-item
{
	display: table-cell;
	overflow: hidden;
	width: 1%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #999999;
}
.tui-bar-tab .tui-tab-item.tui-active .mui-icon,
.tui-bar-tab .tui-tab-item.tui-active .tui-tab-label
{
	color: #ff6a00;
}
.tui-bar-tab .tui-tab-item .mui-icon
{
	top: 3px;
	width: 24px;
	height: 24px;
	padding-top: 0;
	padding-bottom: 0;
	color: #999999;
}
.tui-bar-tab .tui-tab-item .mui-icon ~ .tui-tab-label
{
	font-size: 11px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tui-bar-tab .tui-tab-item .tui-icon:active
{
	background: none;
}
/*********
 * 导航图标
 * *******/
.tui-nav-icon{
	display: block;
	background: url(../images/icon_new_v1.png) no-repeat;
    background-size: 200px auto;
    width: 40px;
    height: 50px;
    margin: 0 auto;
}
.tui-nav-icon-buy{
	background-position: 0 -25px;
}
.tui-nav-icon-sell{
	background-position: -46px -25px;
}
.tui-nav-icon-server {
    background-position: -92px -25px;
}
.mui-btn-nav.tui-nav-search-group{
	background:#faab73;
	opacity: 0.6;
	height: 30px;
	line-height:30px;
	width: 60%;
	margin-top: 8px !important;
	color: #fff;
	font-size: 14px;
	position: relative;
}
.mui-btn-nav.tui-nav-search-group a,
.mui-btn-nav.tui-nav-search-cancel a{
	color: #FFFFFF;
}
.mui-btn-nav.tui-nav-search-bar{
	background:#faab73;
	opacity: 0.6;
	height: 30px;
	line-height:30px;
	margin-top: 7px !important;
	color: #fff;
	font-size: 14px;
	position: relative;
	width: 85%;
}
.mui-btn-nav.tui-nav-search-bar  .mui-icon-search{
	position: absolute;
	right: 10px;
	color: #FFFFFF;
	top:4px;
}
.mui-btn-nav.tui-nav-search-bar .tui-nav-search{
	border:none;
	background-color: transparent;
	height: 30px;
    line-height: 30px;
	color: #ecf2d6;
}
.mui-btn-link.tui-nav-search-cancel{
	width: 10%;
	color: #FFFFFF;
}
/*********
 * 轮播图
 * *******/
.mui-slider img{
	height: 100%;
}
.tui-about-promise{
	background: #FFFFFF;
	font-size: 11px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	text-align: center;
}
.tui-about-promise .tui-promise-list{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	font-size: 10px;
	text-align: center;
	margin: 0 5px;
}
.tui-about-promise .tui-promise-list i{
	color: #ff6a00;
	font-size: 12px;
	line-height: 25px;
}
/*********
 * 快速买车
 * *******/
.mui-table-view-cell.tui-car-filter-caption{
	height: 30px;
	line-height: 30px;
	padding-left: 15px !important;
	color: #999999;
	font-size: 14px;
	text-align: left !important;
}
.tui-car-filter-title{
	background: #FFFFFF;
	height: 34px;
	line-height: 34px;
	color: #333333;
	padding-left: 15px;
	margin-top: 8px;
}
.mui-table-view.tui-car-filter .mui-table-view-cell{
	padding:0 4px ;
	font-size: 13px ;
	background: #fcfcfc;
}

.tui-car-filter-icon{
	display: block;
    width: 100%;
    height: 26px;
    margin: 0 auto;
    background: url(../images/logo_auto.png) no-repeat;
    -webkit-background-size: 725px auto;
    -ms-background-size: 725px auto;
    background-size: 725px auto;
}
.tui-car-filter-icon-dazhong{
	width: 26px;
    background-position: -211px 0;
}
.tui-car-filter-icon-xiandai{
	width: 39px;
    background-position: -512px 0;
}
.tui-car-filter-icon-fengtian{
	width: 32px;
    background-position: -237px 0;
}
.tui-car-filter-icon-baoma{
	width: 26px;
    background-position: -133px 0;
}
.tui-car-filter-icon-bieke{
	width: 24px;
	background-position: -109px 0;
}
.tui-car-filter-icon-aodi{
	width: 44px;
	background-position: -678px 0;
}
.tui-car-filter-icon-benchi{
	width: 26px;
	background-position: -44px 0;
}
.tui-car-filter-icon-richan{
	width: 32px;
	background-position: -480px 0;
}
.tui-car-filter-icon-fute{
	width: 46px;
	background-position: -269px 0;
}
.tui-car-filter-icon-bentian{
	width: 26px;
	background-position: -159px 0;
}
.tui-car-filter-icon-xuefulan{
	width: 44px;
	background-position: -551px 0;
}
.tui-car-filter-icon-more{
	width: 18px;
	background-position: -654px 0;
}
.tui-mod-more {
    display: block;
    color: #ff6a00!important;
    font-size: 13px;
    line-height: 42px;
    text-align: center;

}
/*********
 * 车辆列表
 * *******/
.tui-product-title
{
	color: #333;
	font-weight: 500;
	line-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 2px;
	overflow: hidden;
	font-size: 14px;
}
.tui-product-meta{
	color: #999;
	font-size: 12px;
	line-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}
.tui-product-sale{
	color: #fa8e0a;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
}
.mui-content-padded.mui-hotline-telephone{
	color: #999999;
	text-align: center;
	padding:15px 0;
}
.mui-grid-9.tui-search-keyword{
	background: #FFFFFF;
}